@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');

:root {
	--bg-color: #222629;
	--color-nav: #86c232;
	--color-text: white;
	--color-title: gray;
}

body {
  	font-family: 'Share Tech Mono', monospace;
	background: var(--bg-color);
	margin: 0;
}

a {
  	text-decoration: none;
}

header, section{
	display: flex; /* fill all space */
	flex-direction: column; /* row sequence */
	justify-content: center; /* vertical align*/
	align-items: center;
	position: relative; /* useful if a child use position */
	text-align: center;
	padding: 0 2em;
}

.subsection-title-container, p{
	width: 1200px;
}

header>p{
	text-align: center;
}

#topcorner{
	position:absolute;
	top:0;
	right:0;
	
}

#topcorner>a{
	float:left;
	padding: 10px;
}

.language-icon>img{
	height: 25px;
}

#email, #cognome{
	color: var(--color-nav);
}

#email:hover {
	opacity: 0.6;
	text-decoration: underline;
}

#profession{
	font-size: 2.5rem;
	color: var(--color-text);
}

#myinfo{
	font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
	color: var(--color-text);
	padding: 15px;
}

#social-icons{
	display: flex;
	margin-top: 50px;
}

.container-icon{
	padding: 5px;
	margin: 10px;
	border-radius: 50%;
}

.container-icon:hover{
	box-shadow: 0 0 8px 0 var(--color-nav);
}

.container-icon>i{
	font-size: 2.5rem;
	color: var(--color-title);
}

.container-icon>i:hover{
	color: var(--color-nav);
}

#phone{
	cursor: pointer;
}

#section1, #section2, #section3, #section4{
	min-height: 100vh; /* 100% of the viewport */
}

#section2{
	min-height: 150vh;
}

main{
	transition: background-color .3s linear;
}

header, footer{
	height: 100vh; /* 100% of the viewport */
}

header>h1{
	font-size: 6rem;
}

h1 {
  	font-size: 3.5rem;
	margin: 0;
	color: var(--color-title);
	padding-bottom: 40px;
}

.subsection-title{
	float: left;
	text-align: left;
}

.subtitle{
	color: var(--color-title);
	font-size: 2rem;
}

.sub-subtitle{
	color: var(--color-text);
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 3.5rem;
}

.period, p{
	font-size: 1.3rem;
}

.period{
	padding-top: 4.5px;
	float: right;
	color: var(--color-nav);

}

p{
	line-height: 2.5rem;
	color: var(--color-text);
	font-weight: 400;
	text-align: left;
}

.fi-xnsuxl-cup-solid{
	color: gold;
	font-size: 20px;
	padding-right: 20px;
}

.certification{
	margin: 5px;
	width: 800px;
}

.fi-xtluxl-file-pdf{
	color: var(--color-text);
}

nav {
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background: var(--color-nav);
	z-index: 10;
	color: var(--bg-color);
}

.fix_top {
	position: fixed;
	top: 0;
}

nav>a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	color: var(--color-nav-text);
	transition: all 0.5s ease;
	font-size: 1.2rem;
	text-transform: uppercase;
	
}

nav>a:hover {
	color: white !important;
	transition: all 0.5s ease;
	opacity: 0.5;
}

nav>span {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 6px;
	background: var(--color-text);
	transition: left 0.3s ease;
}

/***********************************
Overwrite css jQuery dialog
***********************************/
.ui-dialog .ui-dialog-titlebar {
	background: var(--color-nav);
	font-family: 'Share Tech Mono', monospace;
}

.ui-dialog .ui-dialog-content {
	font-family: 'Share Tech Mono', monospace;
	background: var(--bg-color) !important;
	color: var(--color-text);
}