@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');

:root {
	--bg-color: #222629;
	--color-nav: #86c232;
	--color-text: white;
	--color-title: gray;
}

body {
  	font-family: 'Share Tech Mono', monospace;
	background: var(--bg-color);
	margin: 0;
}

a {
  	text-decoration: none;
}


/**********************************************************
GENERAL CSS
***********************************************************/

/*Center and flex layout*/
header, section{
	display: flex; /* fill all space */
	flex-direction: column; /* row sequence */
	justify-content: center; /* vertical align*/
	align-items: center;
	position: relative; /* useful if a child use position */
	text-align: center;
	padding: 0 2em;
}

/* Width section */
.subsection-title-container, p, .skill-container{ 
	width: 1200px;
}

/**********************************************************
HEADER CSS
***********************************************************/
header{
	height: 100vh; /* 100% of the viewport */
	min-height: 900px;
}

/* Center header text */
header>p{
	text-align: center;
}

/****** Language flags css ******/
#topcorner{
	position:absolute;
	top:0;
	right:0;
}

#topcorner>a{
	float:left;
	padding: 10px;
}

.language-icon>img{
	height: 25px;
}

.language-icon>img:hover{
	opacity: 0.5;
}

/****** Personal info css ******/
#email, #cognome{
	color: var(--color-nav);
}

#email:hover {
	opacity: 0.6;
	text-decoration: underline;
}

#profession{
	font-size: 2.5rem;
	color: var(--color-text);
}

#myinfo{
	font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
	color: var(--color-text);
	padding: 15px;
}

/****** Icon header css ******/
#social-icons{
	display: flex;
	margin-top: 50px;
}

.container-icon{
	padding: 5px;
	margin: 10px;
	border-radius: 50%;
}

.container-icon:hover{
	box-shadow: 0 0 8px 0 var(--color-nav);
}

.container-icon>i{
	font-size: 2.5rem;
	color: var(--color-title);
}

.container-icon>i:hover{
	color: var(--color-nav);
}

#phone{
	cursor: pointer;
}

/****** Navbar css ******/
nav {
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background: var(--color-nav);
	z-index: 10;
	color: var(--bg-color);
}

.fix_top {
	position: fixed;
	top: 0;
}

nav>a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	color: var(--color-nav-text);
	transition: all 0.5s ease;
	font-size: 1.2rem;
	text-transform: uppercase;
	
}

nav>a:hover {
	color: white !important;
	transition: all 0.5s ease;
	opacity: 0.5;
}

nav>span {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 6px;
	background: var(--color-text);
	transition: left 0.3s ease;
}

/**********************************************************
SECTION CSS
***********************************************************/
#section1, #section3, #section4{
	height: 100vh; /* 100% of the viewport */
	min-height: 1080px;
}

#section2{
	height: 150vh;
	min-height: 1620px;
}

#section3{
	height: 125vh;
	min-height: 1350px;
}

main{
	transition: background-color .3s linear;
}

header>h1{
	font-size: 6rem;
}

h1 {
  	font-size: 3.5rem;
	margin: 0;
	color: var(--color-title);
	padding-bottom: 40px;
}

.subsection-title{
	float: left;
	text-align: left;
}

.subtitle{
	color: var(--color-title);
	font-size: 2rem;
}

.sub-subtitle{
	color: var(--color-text);
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 3.5rem;
}

.period, p{
	font-size: 1.3rem;
}

.period{
	padding-top: 4.5px;
	float: right;
	color: var(--color-nav);

}

p{
	line-height: 2.5rem;
	color: var(--color-text);
	font-weight: 400;
	text-align: left;
}

/**********************************************************
SKILL SECTION LIST CSS
***********************************************************/
.skill-container{
	display: flex;
    align-items: center;
}

.skill-icon-container{
	width: 120px;
}

.bar-container{
	height: 75px;
	display: flex;
    align-items: center;
	width: 80%;
}

/* Container for skill bars */
.bar {
	background-color: var(--bg-color); /* Grey background */
	box-shadow: 0 0 10px 0 var(--color-nav);
	border-radius: 50px;
	width: 100%;
}

.skills {
	text-align: center; /* Right-align text */
	padding-top: 10px; /* Add top padding */
	padding-bottom: 10px; /* Add bottom padding */
	color: var(--color-text); /*text color*/
	background-color: var(--color-nav);
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	font-size: 1rem;
}

.beginner {width: 25%;}
.intermediate {width: 50%;}
.senior {width: 75%;}
.guru {width: 100%; border-radius: 50px;}

/* tooltip*/
.tooltiptext {
  	visibility: hidden;
  	background-color: black;
  	color: var(--color-text);
  	text-align: center;
  	border-radius: 6px;
  	padding: 5px;
	font-size: 0.8rem;
  	/* Position the tooltip */
  	position: absolute;
  	z-index: 1;
}

.skill-icon-container:hover .tooltiptext {
  visibility: visible;
}
/**********************************************************
CERTIFICATION LIST CSS
***********************************************************/
.fi-xnsuxl-cup-solid{
	color: gold;
	font-size: 20px;
	padding-right: 20px;
}

.certification{
	margin: 5px;
	width: 900px;
}

.fi-xtluxl-file-pdf{
	color: var(--color-text);
}

.fi-xtluxl-file-pdf:hover{
	opacity: 0.5;
}

/***********************************
Overwrite css jQuery dialog
***********************************/
.ui-dialog .ui-dialog-titlebar {
	background: var(--color-nav);
	font-family: 'Share Tech Mono', monospace;
}

.ui-dialog .ui-dialog-content {
	font-family: 'Share Tech Mono', monospace;
	background: var(--bg-color) !important;
	color: var(--color-text);
}

.ui-button:active{
	background: var(--bg-color) !important;
}

/***********************************
Manage small screen
***********************************/
@media (max-width: 1280px){
	.subsection-title-container, p, .skill-container, .certification {
		width: 800px !important;
	}
	
	header{
		min-height: 1080px !important; /* 100% of the viewport */
	}
	
}

@media (max-width: 960px){
	.subsection-title-container, p, .skill-container, .certification {
		width: 400px !important;
	}
	
	header{
		min-height: 1400px !important; /* 100% of the viewport */
	}
	
	nav>a {
		font-size: 1rem !important;
	}
	
	.period{
		float: left;
	}
}